body{
    background: linear-gradient(to right, rgb(31, 103, 196), rgb(10, 77, 165),  rgb(31, 103, 196));
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 1.5rem;
    font-size: 16px
}

a{
    text-decoration: none;
    margin-right: 8px;
    padding: 5px;
    color: whitesmoke;
}

a:hover{
    background-color: rgb(2, 2, 2);
    color: gold;
    border-radius: 16px;
}

input, button{
    border-radius: 16px;
}

ul{
    list-style-type: none;
}